<div style="position:bottom; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items:center; 
 border-top: 1px black solid; margin: 2rem;  "> 
    <p>Copyright@2022 </p> 
    <a href="">Privacy policy</a> 
    <a href=""> Terms & conditions</a>
    <a  href="https://www.instagram.com/ghoris_farmhouse/"> Follow us on instagram</a> 
</div>