<style>
.heding{ 
    text-align: center; 
    box-sizing: border-box;  
    font-weight: 800; 
    font-size:3rem;
    font-family: "Quicksand", sans-serif;
} 
.navbar{ 
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box; 
    border-bottom:1px solid black ;
    font-family: "Quicksand", sans-serif;
}
.navbar a{ 
    text-decoration: none;
    margin: 0rem;
    color: black;
    padding: 1rem;
    font-weight: 800;
}   
.navbar a:visited{ 
text-decoration: none;
}
</style>
<h1 class="heding"  >GHORIS FARM HOUSE</h1>  
<div class="navbar"> 
<a href='/' > Home</a> 
<a href="/#about" >About</a> 
<a href="/#amenit">Facilities</a> 
<a href="/#booking" >Bookings</a>
</div>